$margin: 10px;
$height: 30px;

.notification-plus-meta-tabs {
  display: flex;

  .notification-plus-tab-item {
    position: relative;
    margin: $margin 11px $margin 0;
    width: 20%;

    &:not(:last-child):after {
      content: '';
      position: absolute;
      top: 0;
      left: 100%;
      height: 0;
      width: 0;
      border: $height solid transparent;
      border-right-width: 0;
      border-left-width: 20px;
      z-index: 1;
      transform: translateX($margin);
      border-left-color: #fff;
      margin: 0;
    }

    .notification-plus-tab-link {
      position: relative;
      color: #2c3f4c;
      background-color: #edeff0;
      border-color: #edeff0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      min-height: 60px;
      text-decoration: none;
      cursor: pointer;

      &.active, &:hover {
        color: #fff;
        background: #96c03d;
        border-color: #96c03d;
      }

      &:focus{
        box-shadow: none;
      }

      &>.fa{
        margin-right: 7px;
        margin-left: 20px;
      }

    }

    &:not(:last-child) > .notification-plus-tab-link {
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 100%;
        height: 0;
        width: 0;
        border: $height solid transparent;
        border-right-width: 0;
        border-left-width: 20px;
        z-index: 2;
        border-left-color: inherit;
      }
    }

    &:first-child{
      .notification-plus-tab-link{
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
    }

    &:last-child{
      margin-right: 0;
      .notification-plus-tab-link{
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }

  }
}