@import "menu";
@import "type";

$primary: #96c03d;

#notification_plus_type {
  border-radius: 10px;
  padding: 10px 10px;
  position: relative;

  .hndle.ui-sortable-handle {
    border: none;
    font-size: 20px;
  }

  &.loading {

    .inside > *:not(.notification-plus-ajax-loader ) {
      opacity: .1;
      filter: blur(2px);
    }

    .notification-plus-ajax-loader {
      width: 100%;
      position: absolute;
      height: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      top: 0;
    }

  }

}

.notification-plus-tab-content {

  .notification-plus-tab-content-item {
    display: none;

    &.active {
      display: flex;
    }
  }

  .notification-plus-notification-types {
    position: relative;
  }

}

.btn-trigger-add {
  background: $primary;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid #999;
  margin-left: 20px;
}

.triggers_rules {
  .notification-plus-input-group {
    margin-bottom: 15px;
  }
}

.notification-preview {
  justify-content: space-between;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  align-items: center;
  margin-top: 10px;

  &-title {
    font-size: 20px;
    margin-left: 25px;
  }
}

.notification-plus-volume-slider {
  margin: 10px 0;
  display: flex;
  align-items: center;
  height: 15px;
  background: $primary;
  position: relative;
  border-radius: 4px;

  .notification-plus-volume-handle {
    padding: 8px;
    color: white;
    background: $primary;
    position: absolute;
    cursor: pointer;
    border-radius: 4px;
  }

}

.notification-plus-next-prev {
  display: flex;
  justify-content: space-between;

  a {
    background: $primary;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    display: flex;
    align-items: center;

    .fa {
      margin: 0 5px;
    }

  }

}

body.post-type-notification_plus {
  #submitdiv {

    & > .ui-sortable-handle {
      background: #96C03D;
      color: #fff;
      margin-top: -1px;
    }

    #publish {
      background: #96C03D;
      border-color: #ddd;
    }

    #visibility, .edit-timestamp {
      display: none;
    }
  }
}

.conversion-group {
  border: 1px solid #899;
  border-radius: 5px;
  margin-bottom: 15px;

  &-header {
    display: flex;
    justify-content: space-between;
    background: #ddd;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 18px;
    cursor: pointer;

    &-tools{
      span{
        margin: 0 5px;
        cursor: pointer;
      }
    }
  }

  &-body{
    margin: 10px;
  }

}