.wp-list-table {
  .type-toto_notification {

    & > td, & > th {
      vertical-align: middle;
    }

    .toto-n-type {
      font-size: 16px;

      svg {
        font-size: 20px;
        margin-right: 5px;
      }
    }

    .toto-n-shortcode {
      display: flex;
      align-items: center;

      .fa-copy {
        background: #96C03D;
        padding: 7px;
        border-radius: 50%;
        color: #fff;
        margin-right: 10px;
        cursor: pointer;
      }

    }

    .column-preview {
      float: none;
      display: flex;

      .toto-n-preview {
        background: #96C03D;
        padding: 7px 10px;
        border-radius: 5px;
        color: white;
      }

    }
  }
}

.swal2-content .toto-wrapper {
  margin: 20px auto;
}