.wp-list-table {
  .type-notification_plus {

    & > td, & > th {
      vertical-align: middle;
    }

    .notification-plus-n-type {
      font-size: 16px;

      svg {
        font-size: 20px;
        margin-right: 5px;
      }
    }

    .notification-plus-n-shortcode {
      display: flex;
      align-items: center;

      .fa-copy {
        background: #96C03D;
        padding: 7px;
        border-radius: 50%;
        color: #fff;
        margin-right: 10px;
        cursor: pointer;
      }

    }

    .column-preview {
      float: none;
      display: flex;
      align-items: center;

      .notification-plus-n-preview {
        background: #96C03D;
        padding: 7px 10px;
        border-radius: 5px;
        color: white;
      }

    }

    .column-status {
      display: flex;
      align-items: center;
    }

  }
}

.swal2-content .notification-plus-wrapper {
  margin: 20px auto;
}

.notification-plus-ajax-loader {
  display: none;
  margin-right: 5px;
}

.menu-icon-notification_plus .wp-menu-image {
  img {
    width: 20px;
  }
}
