$primary: #96c03d;

.ui-tabs-nav{
  &>li>a{
    display: flex !important;
    align-items: center;

    i{
      margin-right: 5px;
    }
  }
}

.format-setting-inner{
  .on-off-switch{
    label{
      text-transform: capitalize;
    }
  }
}

/*Notification Modules*/

.toto-modules {
  display: flex;
  flex-wrap: wrap;

  .toto-module {
    width: calc(20% - 20px);
    position: relative;
    align-items: center;
    margin: 10px;
    padding: 20px 0;
    border-radius: 5px;
    background: #44485F;
    display: flex;
    flex-flow: column;
    transition: background .2s ease;

    &-badge {
      background: #22E4AC;
      padding: 12px 7.5px;
      border-radius: 50%;
      position: absolute;
      top: -15px;
      right: -15px;
      color: #fff;
      font-size: 12px;
      z-index: 1;
    }

    &-icon {
      color: #fff;
      font-size: 32px;
    }

    &-title {
      color: #fff;
      margin-top: 10px;
    }

    &-checked {
      display: none;
    }

    //=== ITEM IS PRO ===
    &.module-is-pro {
      .toto-module-badge {
        background: linear-gradient(180deg, #F7369E, #3023AE);
        padding: 13px 9.65px;
      }

      .toto-module-title{
        color: #8D8F9C;
      }

      .toto-module-icon{
        color: #8D8F9C;
      }

    }

    @media (min-width: 1200px) and (max-width: 1400px) {
      width: calc(14% - 20px);
      margin: 20px 10px;
      padding: 20px 0;
    }

  }


}

/**
* Switch Toggle
*/
.toto-switcher input[type="checkbox"] {
  display: none;

  &:checked ~ div {
    background: $primary;
    box-shadow: 0 0 2px $primary;

    label {
      transform: rotate(360deg);
      margin-left: auto;

      &::before {
        top: 4px;
        left: 10px;
        height: 12px;
        background: $primary;
      }

      &::after {
        top: 10px;
        left: 3px;
        width: 6px;
        background: $primary;
      }

    }



  }

  &:disabled ~ div {
    background: #666;

    label {
      background: #ddd;
      &::before, &::after {
        background: #666;
        border-radius: 5px;
      }
    }

  }

}

.toto-switcher div,
.toto-switcher label {
  border-radius: 50px;
}

.toto-switcher div {
  height: 30px;
  width: 50px;
  background: rgba(43, 43, 43, 1);
  position: relative;
  box-shadow: 0 0 2px rgba(43, 43, 43, 1);
  display: flex;
  align-items: center;
  padding: 0 5px;
  margin-top: 10px;
  transition: all .2s ease;
}

.toto-switcher label {
  height: 20px;
  width: 20px;
  background: rgba(255, 255, 255, 1);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before, &::after {
    background: rgba(43, 43, 43, 1);
    border-radius: 5px;
  }

  &::before {
    content: '';
    height: 13px;
    width: 3px;
    position: absolute;
    transform: rotate(45deg);
  }

  &::after {
    content: '';
    height: 3px;
    width: 13px;
    position: absolute;
    transform: rotate(45deg);
  }

}