.toto-data-panel{
  margin-bottom: 10px;

  .toto-panel-body{
    margin-top: 15px;
  }
  .toto-panel-header{
    .panel-body-collapse{
      text-decoration: none;
      color: black;
      padding: 3px 4px;
      border: 1px solid #ddd;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      margin-right: 15px;

      i{
        margin-right: 0;
      }

    }
  }
}

.data-group {
  display: flex;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;

  &:last-child{
    border-bottom: none;
    padding-bottom: 0;
  }

  .data-label {
    font-weight: bold;
    min-width: 80px;
  }
  .data-value {
    display: flex;
    align-items: center;
    font-size: 16px;

    img{
      margin-right: 5px;
    }
  }

}

.toto-filter-bar{
  margin-bottom: 30px;

  select[name="notification_id"]{
    width: 250px;
  }
  select[name="per_page"]{
    width: 100px;
  }
}

.toto_no_results{
  text-align: center;
}