.statistics-summary-wrap{
  display: flex;
  justify-content: space-between;
  margin: 50px 0;

  .statistics-summary{
    padding: 30px 100px;
    border-radius: 15px;
    background: #fff;
    display: flex;
    align-items: center;

    .summary-icon{
      margin-right: 20px;
    }

    .summary-info{
      display: flex;
      flex-flow: column;

      .summary-number{
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 15px;
      }

      .summary-title{
        font-size: 18px;
      }

    }

  }

}

.statistics-top-pages{
  margin-top: 50px;
  .top-pages-title{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 12px;
  }
}

#top-pages-table{
  margin-top: 30px;

  thead{
    th{
      font-weight: bold;
      background: #96c03d;
      padding: 20px;
      color: #fff;
    }
  }

  tbody{
    td{
      padding: 12px;
      border-bottom: 1px solid #ddd;

    }
  }

}

#toto_show_more_pages{
  margin: 0 auto;
  display: block;
  padding: 10px 20px;
  margin-top: 25px;
}