.statistics-summary-wrap {
  margin: 50px 0;

  .summary-content, .summary-ph-wrap {
    display: flex;
    justify-content: space-between;
  }

  .statistics-summary {
    padding: 30px;
    border-radius: 8px;
    background: #fff;
    flex: 1;
    margin: 0 30px;
    display: flex;
    align-items: center;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    .summary-icon {
      margin-right: 20px;

      img {
        max-width: 75px;
      }

    }

    .summary-info {
      display: flex;
      flex-flow: column;

      .summary-number {
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 15px;
      }

      .summary-title {
        font-size: 18px;
      }

    }

  }

  .summary-ph {
    padding: 30px;
    border-radius: 8px;
    background: #fff;
    flex: 1;
    margin: 0 30px;
    align-items: center;

    .ph-item {
      padding: 0;
      margin: 0;
      border: none;

      .ph-picture {
        height: 75px;
      }

    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

}

.chart-container {
  margin-bottom: 50px;
  //border-bottom: 1px solid #ddd;
  padding-bottom: 50px;
}

.statistics-table-wrap {
  margin-top: 50px;

  .statistics-table-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 12px;
  }
}

.statistics-table-header {
  text-align: center;
}

.statistics-table {
  margin-top: 30px;

  thead {
    th {
      font-weight: bold;
      background: #96c03d;
      padding: 20px;
      color: #fff;
    }
  }

  tbody {
    td {
      padding: 12px;
      border-bottom: 1px solid #ddd;

    }
  }

}

#notification_plus_show_more_pages {
  margin: 25px auto 0 auto;
  display: block;
  padding: 10px 20px;
}