$primary: #96c03d;

.d-flex {
  display: flex;
}

.flex-column {
  flex-flow: column;
}

.flex-row {
  flex-flow: row !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.align-center {
  align-items: center;
}

.align-base {
  align-items: baseline;
}

.toto-btn-delete {
  margin-left: 15px;
  padding: 0 15px;
  cursor: pointer;
  border-radius: 3px;
  background: #bd2130;
  color: #fff;
  border: none;
}

.container-disabled {
  pointer-events: none;
  opacity: .3;
}

.toto-hidden {
  display: none !important;
}

.toto-mr-5 {
  margin-right: 5px;
}

.toto-mt-auto {
  margin-top: auto;
}
.toto-ml-auto {
  margin-left: auto;
}

.toto-ml-5 {
  margin-left: 5px;
}

.toto-mr-10 {
  margin-right: 10px !important;
}

.toto-mt-20 {
  margin-top: 20px !important;
}

.toto-mr-20 {
  margin-right: 20px !important;
}

.toto-ml-10 {
  margin-left: 10px !important;
}

.toto-image-preview {
  width: max-content;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  max-width: 100px;
}

.toto-break {
  flex-basis: 100%;
  height: 0;
}

//Button
.toto-btn {
  border: none;
  padding: 0 30px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 18px;

  &-primary {
    background: #96c03d;
    color: white;
  }

}

//Panel
.toto-panel {
  background: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #ddd;


  &-header {
    display: flex;

    .panel-title {
      font-size: 18px;
      line-height: 1.5;
    }

    .panel-tools {
      margin-left: auto;

      a {
        display: inline-flex;
        align-items: center;
        margin: 0 10px;

        i {
          margin-right: 5px;
        }

      }
    }
  }
}

//Pagination
.toto-pagination-wrap {
  text-align: center;
}

.toto-pagination {
  display: inline-flex;

  .page-item {
    &:first-child {
      .page-link {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }
    }

    &:last-child {
      .page-link {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
    }
  }

  .page-link {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
    font-size: 16px;
    text-decoration: none;

    &:hover, &:active {
      background: #96c03d;
      color: #fff;
    }

    &.disabled {
      pointer-events: none;
      color: #ddd;
    }

  }

}