.toto-modal {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.toto-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  width: 70%;

  .toto-modal-header {
    padding: 2px 16px;
    background-color: $primary;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      color: #fff;
    }

  }

  .toto-modal-body {
    display: flex;
    justify-content: center;
    padding: 50px;
  }

  .toto-modal-footer {
    padding: 2px 16px;
    background-color: $primary;
    color: white;
  }

}

.toto-modal-close {
  color: #fff;
  font-size: 28px;
  font-weight: bold;
}

.toto-modal-close:hover,
.toto-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}