:root {
  --notification-plus-spacing: 20px;
}

.notification-plus {
  visibility: hidden;
  position: fixed;
  opacity: 0;
  z-index: 999999999;
  transition-duration: .3s;
  transition-property: opacity, transform;

  &.shortcode {
    position: relative;
    z-index: auto;
  }

}

.notification-plus-clickable {
  cursor: pointer !important;
}

.notification-plus * {
  margin: 0;
}

.notification-plus.on {
  visibility: visible !important;
  opacity: 1 !important;
}

.notification-plus.off {
  opacity: 0 !important;
  visibility: visible !important;
}

.notification-plus-close {
  opacity: .4 !important;
  position: absolute !important;
  top: 4px !important;
  right: 12px !important;
}

.notification-plus-close:hover {
  cursor: pointer !important;
}

.notification-plus-rounded {
  border-radius: 8px !important;
}


/* Toasts positions */
.notification-plus-top_left {
  left: var(--notification-plus-spacing);
  top: var(--notification-plus-spacing);
}

.notification-plus-top_center {
  margin: auto;
  left: 0;
  right: 0;
  top: var(--notification-plus-spacing);
  width: max-content;
}

.notification-plus-top_right {
  right: var(--notification-plus-spacing);
  top: var(--notification-plus-spacing);
}

.notification-plus-middle_left {
  left: var(--notification-plus-spacing);
  margin: auto 0;
  top: calc(45%);
}

.notification-plus-middle_center {
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  width: max-content;
}

.notification-plus-middle_right {
  right: var(--notification-plus-spacing);
  margin: auto 0;
  top: calc(45%);
}

.notification-plus-bottom_left {
  left: var(--notification-plus-spacing);
  bottom: var(--notification-plus-spacing);
}

.notification-plus-bottom_center {
  margin: auto;
  left: 0;
  right: 0;
  bottom: var(--notification-plus-spacing);
  width: max-content;
}

.notification-plus-bottom_right {
  right: var(--notification-plus-spacing);
  bottom: var(--notification-plus-spacing);
}


/* Common used classes for notifications */
.notification-plus-wrapper {
  padding: 10px !important;
  color: black;
  box-shadow: 0 3px 6px -1px rgba(0, 0, 0, .12), 0 10px 36px -4px rgba(77, 96, 232, .3) !important;
  background: white;
  max-width: 90% !important;
  position: relative !important;
  font-family: 'Open Sans', -apple-system, 'Segoe UI', BlinkMacSystemFont, Roboto, 'Helvetica Neue', Arial, sans-serif !important;

  a {
    text-decoration: none;
  }

}

.notification-plus-wrapper-straight {
  border-radius: 0px !important;
}

.notification-plus-wrapper-rounded {
  border-radius: 8px !important;
}

.notification-plus-wrapper-round {
  border-radius: 100px !important;
}

.notification-plus-site {
  font-size: 10px !important;
}

.notification-plus-toast-pulse {
  margin: 18px !important;
  display: block !important;
  width: 25px !important;
  height: 25px !important;
  border-radius: 50% !important;
  background: #17bf21;
  box-shadow: 0 0 0 rgba(39, 204, 48, 0.4) !important;
  animation: notification-plus-toast-pulse 2s infinite !important;
}

.notification-plus-toast-pulse:hover {

}

@keyframes notification-plus-toast-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(39, 204, 48, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

.notification-plus-toast-star {
  font-size: 14px;
  color: #ffc100;
}

.notification-plus-agreement-checkbox {
  display: flex;
  align-items: center;
}

.notification-plus-agreement-checkbox-text {
  font-size: 12px;
  margin-left: 5px;
  margin-top: 8px;
}

#notification-plus-agreement {
  margin-top: 8px;
}

.notification-plus-wrapper p {
  margin-top: 0 !important;
}
