:root {
    --toto-spacing: 20px;
}

.toto {
    visibility: hidden;
    position: fixed;
    opacity: 0;
    z-index: 999999999;
    transition-duration:  .3s;
    transition-property: opacity, transform;
}

.toto-clickable {
    cursor: pointer !important;
}

.toto:hover {

}

.toto * {
    margin: 0
}

.toto.on {
    visibility: visible !important;
    opacity: 1 !important;
}

.toto.off {
    opacity: 0 !important;
    visibility: visible !important;
}

.toto-close {
    opacity: .4 !important;
    position: absolute !important;
    top: 4px !important;
    right: 12px !important;
}

.toto-close:hover {
    cursor: pointer !important;
}

.toto-rounded {
    border-radius: 8px !important;
}


/* Toasts positions */
.toto-top_left {
    left: var(--toto-spacing);
    top: var(--toto-spacing);
}

.toto-top_center {
    margin: auto;
    left: 0;
    right: 0;
    top: var(--toto-spacing);
    width: max-content;
}

.toto-top_right {
    right: var(--toto-spacing);
    top: var(--toto-spacing);
}

.toto-middle_left {
    left: var(--toto-spacing);
    margin: auto 0;
    top: calc(45%);
}

.toto-middle_center {
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    width: max-content;
}

.toto-middle_right {
    right: var(--toto-spacing);
    margin: auto 0;
    top: calc(45%);
}

.toto-bottom_left {
    left: var(--toto-spacing);
    bottom: var(--toto-spacing);
}

.toto-bottom_center {
    margin: auto;
    left: 0;
    right: 0;
    bottom: var(--toto-spacing);
    width: max-content;
}

.toto-bottom_right {
    right: var(--toto-spacing);
    bottom: var(--toto-spacing);
}


/* Common used classes for notifications */
.toto-wrapper {
    padding: 10px !important;
    color: black;
    box-shadow: 0 3px 6px -1px rgba(0, 0, 0, .12), 0 10px 36px -4px rgba(77, 96, 232, .3) !important;
    background: white;
    max-width: 90% !important;
    position: relative !important;
    font-family: 'Open Sans',-apple-system,'Segoe UI',BlinkMacSystemFont,Roboto,'Helvetica Neue',Arial,sans-serif !important;
}

.toto-wrapper-straight {
    border-radius: 0px !important;
}

.toto-wrapper-rounded {
    border-radius: 8px !important;
}

.toto-wrapper-round {
    border-radius: 100px !important;
}

.toto-site {
    font-size: 10px !important;
}

.toto-toast-pulse {
    margin: 18px !important;
    display: block !important;
    width: 25px !important;
    height: 25px !important;
    border-radius: 50% !important;
    background: #17bf21;
    box-shadow: 0 0 0 rgba(39, 204, 48, 0.4) !important;
    animation: toto-toast-pulse 2s infinite !important;
}
.toto-toast-pulse:hover {

}

@keyframes toto-toast-pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(39, 204, 48, 0.4);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
}

.toto-toast-star {
    font-size: 14px;
    color: #ffc100;
}

.toto-agreement-checkbox {
    display: flex;
    align-items: center;
}

.toto-agreement-checkbox-text {
    font-size: 12px;
    margin-left: 5px;
    margin-top: 8px;
}

#toto-agreement{
    margin-top: 8px;
}
