/* Live Counter */
.notification-plus-live-counter-wrapper {
}

@media (min-width: 576px) {
    .notification-plus-live-counter-wrapper {
        width: 280px !important;
    }
}

.notification-plus-live-counter-content {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
}

.notification-plus-live-counter-header {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
}

.notification-plus-live-counter-number {
    padding: 3px 32px !important;
    border-radius: 4px !important;
    font-weight: bolder !important;
    font-size: 21px !important;
}

.notification-plus-live-counter-description {
    font-size: 14px !important;
    margin-bottom: 16px !important;
}
