@import "components/common";
@import "components/forms";
@import "components/admin/metabox/metabox";
@import "components/admin/pages/data";
@import "components/admin/pages/statistics";
@import "notifications/notifications";
@import "components/admin/settings";
@import "components/admin/index";
@import "components/placeholder-loading";
@import "components/modal";